<!DOCTYPE html>
<html>
<head>
  <title>My Personal Website</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    
    h1 {
      color: #333;
    }
    
    p {
      color: #666;
      line-height: 1.5;
    }
  </style>
</head>
<body>
  <h1>Welcome to My Personal Website</h1>
  <h2>About Me</h2>
  <p>Hi I am Marco</p>
  <img src="../../assets/image/elephant.jpeg" alt="elephant" style="width: 200px; height: 150px;">

  <h2>Education</h2>
  <ul>
    <li>HKUST Electronics Engineering Year 4(after this summer)</li>
  </ul>
  
  <h2>Skills</h2>
  <ul>
    <li>Sleeping</li>
    <li>Eating</li>
    <li>Coding(html)</li>
  </ul>
  
  <h2>Contact Information</h2>
  <p>Email: yychoiaf@connect.ust.hk</p>
  <p>Phone: 5409 9346</p>
  
  
</body>
</html>

